/* COSTUME */
body {
  background-color: #e7f3f7;
}

#listContainer {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 12em;
  width: 600px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 36px;
  font-size: 1.45em;
}

#checklist {
  max-height: 250px;
  overflow-y: scroll;
}

input {
  width: 70%;
  padding: 0.5em;
  font-size: 0.7em;
  border: 1px solid #4f29f0;
  border-radius: 3px;
  border-radius: 3px;
  margin-left: 2em;
  margin-top: 2em;
}

input:hover {
  border: solid 1px blueviolet;
}

input:focus {
  outline: none !important;
  border: solid 1px darkblue;
}

button {
  border: 1px solid #4f29f0;
  padding: 7px 25px;
  margin-left: 3px;
  border-radius: 3px;
  font-size: 18px;
  background: white;
  transition: background 0.2s linear;
}

button:hover {
  background: #4f29f0;
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 1em;
  font-size: 80px;
  opacity: 0.5;
}

h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0.6em;
  font-size: 30px;
  opacity: 0.7;
}
